* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: var(--light-grayish-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.container {
  padding-inline: 1.5rem;
}

.card-list {
  display: grid;
  gap: 1.5rem 2rem;
  margin-block: 5rem;
}

.card {
  padding: 1.5rem 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-dan {
  background: url(images/bg-pattern-quotation.svg) no-repeat top right 2rem
    var(--moderate-violet);
}

.card-jon {
  background: var(--very-dark-grayish-blue);
  color: var(--white);
}

.card-jean,
.card-kira {
  background: var(--white);
  color: var(--very-dark-grayish-blue);
}

.card-pat {
  background: var(--very-dark-blackish-blue);
  color: var(--white);
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.avatar {
  max-width: 100%;
  width: 30px;
  border-radius: 50%;
}

.name {
  font-size: 12px;
}

.designation {
  font-size: 10px;
  opacity: 50%;
}

.review-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.review-paragraph {
  font-size: 13px;
  opacity: 70%;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-grayish-blue);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 1110px;
    padding: 0;
    margin: 0 auto;
  }

  .card-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card-dan {
    background: url(images/bg-pattern-quotation.svg) no-repeat top right 5rem
      var(--moderate-violet);
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card-jon {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .card-kira {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .card-jean {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .card-pat {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
